streams-contrib/streams-provider-gnip/gnip-powertrack/src/main/xmlschema/com/gnip/entry.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="entry" type="entry"/>

    <xs:complexType name="entry">
        <xs:sequence>
            <xs:element name="title" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <!--<xs:element name="fb:id" type="xs:positiveInteger" minOccurs="0"/>-->
            <xs:element name="link" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="rel" type="xs:string"/>
                    <xs:attribute name="type" type="xs:string"/>
                    <xs:attribute name="href" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="published" type="xs:string" minOccurs="0"/>
            <xs:element name="updated" type="xs:string" minOccurs="0"/>
            <xs:element name="author" type="author" minOccurs="0"/>
            <xs:element name="category" minOccurs="0">
                <xs:complexType>
                    <xs:attribute name="term" type="xs:string"/>
                    <xs:attribute name="label" type="xs:string"/>
                </xs:complexType>
            </xs:element>
            <xs:element name="articles" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="article" type="article" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="article">
        <xs:sequence>
            <xs:element name="sequenceId" type="xs:string" minOccurs="0"/>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="subTitle" type="xs:string" minOccurs="0"/>
            <xs:element name="content" type="xs:string" minOccurs="0"/>
            <xs:element name="contentWithMarkup" type="xs:string" minOccurs="0"/>
            <xs:element name="tags" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="publishedDate" type="xs:string"/>
            <xs:element name="harvestDate" type="xs:string"/>
            <xs:element name="embargoDate" type="xs:string" minOccurs="0"/>
            <xs:element name="licenseEndDate" type="xs:string"/>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="originalUrl" type="xs:string" minOccurs="0"/>
            <xs:element name="commentsUrl" type="xs:string"/>
            <xs:element name="outboundUrls" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="outboundUrl" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="wordCount" type="xs:string" minOccurs="0"/>
            <xs:element name="dataFormat" type="xs:string"/>
            <xs:element name="copyright" type="xs:string"/>
            <xs:element name="loginStatus" type="xs:string"/>
            <xs:element name="duplicateGroupId" type="xs:string"/>
            <xs:element name="contentGroupIds" type="xs:string" minOccurs="0"/>
            <xs:element name="harvest" type="harvest" minOccurs="0"/>
            <xs:element name="media" type="media"/>
            <xs:element name="publishingPlatform" type="articlePublishingPlatform"/>
            <xs:element name="adultLanguage" type="xs:string"/>
            <xs:element name="topics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="topic" type="topic" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="companies" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="company" type="company" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="locations" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="location" type="articleLocation" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="semantics" type="semantics" minOccurs="0"/>
            <xs:element name="print" type="print" minOccurs="0"/>
            <xs:element name="broadcast" type="broadcast" minOccurs="0"/>
            <xs:element name="author" type="author"/>
            <xs:element name="source" type="source"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="harvest">
        <xs:sequence>
            <xs:element name="headlineVia" type="xs:string"/>
            <xs:element name="contentVia" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="media">
        <xs:sequence>
            <xs:element name="audio" type="audioOrVideo" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="image" type="image" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="video" type="audioOrVideo" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="audioOrVideo">
        <xs:sequence>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="mimeType" type="xs:string"/>
            <xs:element name="caption" type="xs:string"/>
            <xs:element name="duration" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="image">
        <xs:sequence>
            <xs:element name="url" type="xs:string"/>
            <xs:element name="mimeType" type="xs:string"/>
            <xs:element name="caption" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="articlePublishingPlatform">
        <xs:sequence>
            <xs:element name="itemId" type="xs:string"/>
            <xs:element name="statusId" type="xs:string"/>
            <xs:element name="inReplyToUserId" type="xs:string"/>
            <xs:element name="inReplyToStatusId" type="xs:string"/>
            <xs:element name="totalViews" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="topic">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="group" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="company">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="symbol" type="xs:string"/>
            <xs:element name="exchange" type="xs:string"/>
            <xs:element name="isin" type="xs:string"/>
            <xs:element name="cusip" type="xs:string" minOccurs="0"/>
            <xs:element name="titleCount" type="xs:int"/>
            <xs:element name="contentCount" type="xs:int"/>
            <xs:element name="primary" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="articleLocation">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="type" type="xs:string"/>
            <xs:element name="class" type="xs:string"/>
            <xs:element name="mentions" type="xs:string"/>
            <xs:element name="confidence" type="xs:string"/>
            <xs:element name="country" type="country"/>
            <xs:element name="region" type="xs:string"/>
            <xs:element name="subregion" type="xs:string"/>
            <xs:element name="state" type="state"/>
            <xs:element name="latitude" type="xs:string"/>
            <xs:element name="longitude" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="country">
        <xs:sequence>
            <xs:element name="confidence" type="xs:string" minOccurs="0"/>
            <xs:element name="fipsCode" type="xs:string" minOccurs="0"/>
            <xs:element name="isoCode" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="state">
        <xs:sequence>
            <xs:element name="confidence" type="xs:string" minOccurs="0"/>
            <xs:element name="fipsCode" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="semantics">
        <xs:sequence>
            <xs:element name="events" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="event" type="semanticsItem" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="entities" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="entity" type="semanticsItem" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="semanticsItem">
        <xs:sequence>
            <xs:element name="properties" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="property" type="property" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="property">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="0"/>
            <xs:element name="value" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="print">
        <xs:sequence>
            <xs:element name="supplement" type="xs:string"/>
            <xs:element name="publicationEdition" type="xs:string"/>
            <xs:element name="regionalEdition" type="xs:string"/>
            <xs:element name="section" type="xs:string"/>
            <xs:element name="pageNumber" type="xs:string"/>
            <xs:element name="sizeCm" type="xs:string"/>
            <xs:element name="sizePercentage" type="xs:string"/>
            <xs:element name="originLeft" type="xs:string"/>
            <xs:element name="originTop" type="xs:string"/>
            <xs:element name="width" type="xs:string"/>
            <xs:element name="height" type="xs:string"/>
            <xs:element name="byLine" type="xs:string"/>
            <xs:element name="photo" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="broadcast">
        <xs:sequence>
            <xs:element name="marketName" type="xs:string"/>
            <xs:element name="nationalNetwork" type="xs:string"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="lines" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="line" type="line" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="line">
        <xs:sequence>
            <xs:element name="date" type="xs:string" minOccurs="0"/>
            <xs:element name="text" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="author">
        <xs:sequence>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="homeUrl" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="dateLastActive" type="xs:string"/>
            <xs:element name="publishingPlatform" type="authorPublishingPlatform"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="authorPublishingPlatform">
        <xs:sequence>
            <xs:element name="userName" type="xs:string"/>
            <xs:element name="userId" type="xs:string"/>
            <xs:element name="statusesCount" type="xs:string"/>
            <xs:element name="totalViews" type="xs:string"/>
            <xs:element name="followingCount" type="xs:string"/>
            <xs:element name="followersCount" type="xs:string"/>
            <xs:element name="kloutScore" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="source">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="homeUrl" type="xs:string"/>
            <xs:element name="publisher" type="xs:string"/>
            <xs:element name="primaryLanguage" type="xs:string"/>
            <xs:element name="primaryMediaType" type="xs:string"/>
            <xs:element name="category" type="xs:string"/>
            <xs:element name="editorialRank" type="xs:string"/>
            <xs:element name="publicationId" type="xs:string" minOccurs="0"/>
            <xs:element name="channelCode" type="xs:string" minOccurs="0"/>
            <xs:element name="location" type="sourceLocation"/>
            <xs:element name="feedSource" type="xs:string" minOccurs="0"/>
            <xs:element name="feed" type="feed"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="sourceLocation">
        <xs:sequence>
            <xs:element name="country" type="xs:string"/>
            <xs:element name="countryCode" type="xs:string"/>
            <xs:element name="region" type="xs:string"/>
            <xs:element name="subregion" type="xs:string"/>
            <xs:element name="state" type="xs:string"/>
            <xs:element name="zipArea" type="xs:string"/>
            <xs:element name="zipCode" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="feed">
        <xs:sequence>
            <xs:element name="id" type="xs:string"/>
            <xs:element name="name" type="xs:string"/>
            <xs:element name="url" type="xs:string" minOccurs="0"/>
            <xs:element name="mediaType" type="xs:string"/>
            <xs:element name="publishingPlatform" type="xs:string"/>
            <xs:element name="idFromPublisher" type="xs:string"/>
            <xs:element name="generator" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
            <xs:element name="tags" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="tag" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="imageUrl" type="xs:string"/>
            <xs:element name="copyright" type="xs:string"/>
            <xs:element name="language" type="xs:string"/>
            <xs:element name="dataFormat" type="xs:string"/>
            <xs:element name="rank" type="rank"/>
            <xs:element name="inWhiteList" type="xs:string"/>
            <xs:element name="autoTopics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="autoTopic" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="editorialTopics" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="editorialTopic" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="genre" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="rank">
        <xs:sequence>
            <xs:element name="autoRank" type="xs:string"/>
            <xs:element name="autoRankOrder" type="xs:string"/>
            <xs:element name="inboundLinkCount" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>

